body {
    background-color: #1fb0a9;
}

h1 {
    background-color: #0e6251;
    color: white;
}

label {
    font-size: 16px;
    font-weight: bold;
}

img {
    width: 60px;
    margin-bottom: 5px;
}

.form-check-input:checked + img {
    border: 3px solid white;
    border-radius: 5px;
}

.resultado {
    background-color: white;
    text-align: center;
}

.resultado h2 {
    font-size: 18px;
}

.resultado p {
    font-size: 20px;
    font-weight: bold;
}